.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container {
    display: flex;
    height: 100vh; /* 设置为视口高度，确保容器撑满屏幕 */
}

.real-time-voice-container {
    display: flex;
    flex-direction: column;
    height: 90%; /* 确保实时语音框自适应高度 */
}

.real-time-voice {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* 确保实时语音框填满父容器 */
    position: relative;
}

.room-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.user-list li {
    padding: 10px;
    background-color: #eef2f7;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.1em;
}

.self-user {
    font-weight: bold;
    color: #007bff;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.join-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #0056b3;
}

.control-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 20px; /* 图标固定在容器底部 */
    left: 50%;
    transform: translateX(-50%);
}

.control-icons i {
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.control-icons i:hover {
    color: #007bff;
}

.live-container {
    height: 100%;
}

.live-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    height: 393px;
    margin-bottom: 20px;
}